.change-pages-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.change-page {
    border-radius: 20px;
    border-color: bisque;
    border-width: 3px;
    color: brown;
    width: 180px;
    font-family: 'Courier New', Courier, monospace;
}