.type-button {
    border-radius: 20px;
    border-color: bisque;
    border-width: 3px;
    color: brown;
    width: 120px;
    font-family: 'Courier New', Courier, monospace;
    }

.type-button-selected {
    border-radius: 20px;
    border-color: brown;
    border-width: 3px;
    color: brown;
    width: 120px;
    font-family: 'Courier New', Courier, monospace;
}