.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input {
    border-radius: 20px;
    border-color: bisque;
    border-width: 3px;
    color: brown;
}

.types-and-languages {
    padding-bottom: 20px;
    padding-top: 20px;
    column-count: 2;
}

.types {
    break-inside: avoid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.types-column-title {
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.languages {
    break-inside: avoid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages-column-title {
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.rate-limit-exceeded {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: chocolate;
}